@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);
  
  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
}

:root {
  --background: #f8f9fa;
  --foreground: #1a1d21;

  --card: #ffffff;
  --card-foreground: #1a1d21;

  --popover: #ffffff;
  --popover-foreground: #1a1d21;

  --primary: #0f172a;
  --primary-foreground: #ffffff;

  --secondary: #e2e8f0;
  --secondary-foreground: #1e293b;

  --muted: #f1f5f9;
  --muted-foreground: #64748b;

  --accent: #f1f5f9;
  --accent-foreground: #1e293b;

  --destructive: #ef4444;
  --destructive-foreground: #ffffff;

  --success: #22c55e;
  --success-foreground: #ffffff;

  --border: #e2e8f0;
  --input: #e2e8f0;
  --ring: #0f172a;

  --radius: 0.75rem;
}

.dark {
  --background: #09090b;
  --foreground: #f8fafc;

  --card: #121212;
  --card-foreground: #f8fafc;

  --popover: #121212;
  --popover-foreground: #f8fafc;

  --primary: #f8fafc;
  --primary-foreground: #0f172a;

  --secondary: #27272a;
  --secondary-foreground: #f8fafc;

  --muted: #1e293b;
  --muted-foreground: #94a3b8;

  --accent: #1e293b;
  --accent-foreground: #f8fafc;

  --destructive: #7f1d1d;
  --destructive-foreground: #f8fafc;

  --success: #166534;
  --success-foreground: #f8fafc;

  --border: #27272a;
  --input: #27272a;
  --ring: #cbd5e1;
}

@layer base {
  * {
    border-color: var(--border);
  }
  body {
    background-color: var(--background);
    color: var(--foreground);
    font-feature-settings: "rlig" 1, "calt" 1;
  }
  
  h1, h2, h3, h4, h5, h6 {
    letter-spacing: -0.025em;
  }
}
