@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

@variant dark (&:where(.dark, .dark *));

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);
  
  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
}

:root {
  /* Zinc 50 */
  --background: #fafafa;
  /* Zinc 900 */
  --foreground: #18181b;

  /* White */
  --card: #ffffff;
  /* Zinc 900 */
  --card-foreground: #18181b;

  --popover: #ffffff;
  --popover-foreground: #18181b;

  /* Zinc 900 */
  --primary: #18181b;
  /* Zinc 50 */
  --primary-foreground: #fafafa;

  /* Zinc 100 */
  --secondary: #f4f4f5;
  /* Zinc 900 */
  --secondary-foreground: #18181b;

  /* Zinc 100 */
  --muted: #f4f4f5;
  /* Zinc 500 */
  --muted-foreground: #71717a;

  /* Zinc 100 */
  --accent: #f4f4f5;
  /* Zinc 900 */
  --accent-foreground: #18181b;

  --destructive: #ef4444;
  --destructive-foreground: #ffffff;

  --success: #22c55e;
  --success-foreground: #ffffff;

  /* Zinc 200 */
  --border: #e4e4e7;
  /* Zinc 200 */
  --input: #e4e4e7;
  /* Zinc 900 */
  --ring: #18181b;

  --radius: 0.75rem;
}

.dark {
  /* Zinc 950 */
  --background: #09090b;
  /* Zinc 50 */
  --foreground: #fafafa;

  /* Zinc 900 */
  --card: #18181b;
  /* Zinc 50 */
  --card-foreground: #fafafa;

  --popover: #18181b;
  --popover-foreground: #fafafa;

  /* Zinc 50 */
  --primary: #fafafa;
  /* Zinc 900 */
  --primary-foreground: #18181b;

  /* Zinc 800 */
  --secondary: #27272a;
  /* Zinc 50 */
  --secondary-foreground: #fafafa;

  /* Zinc 800 */
  --muted: #27272a;
  /* Zinc 400 */
  --muted-foreground: #a1a1aa;

  /* Zinc 800 */
  --accent: #27272a;
  /* Zinc 50 */
  --accent-foreground: #fafafa;

  --destructive: #7f1d1d;
  --destructive-foreground: #fafafa;

  --success: #14532d;
  --success-foreground: #fafafa;

  /* Zinc 800 */
  --border: #27272a;
  /* Zinc 800 */
  --input: #27272a;
  /* Zinc 300 */
  --ring: #d4d4d8;
}

@layer base {
  * {
    border-color: var(--border);
  }
  body {
    background-color: var(--background);
    color: var(--foreground);
    font-feature-settings: "rlig" 1, "calt" 1;
  }
  
  h1, h2, h3, h4, h5, h6 {
    letter-spacing: -0.025em;
  }
}
